<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [85]:
"""!pip install sqlalchemy
!pip install ipython-sql
!pip install psycopg2-binary
!pip install snowflake-connector-python
!pip install mysql-connector-python"""

Requirement already satisfied: sqlalchemy in c:\users\zy565\anaconda3\lib\site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\zy565\anaconda3\lib\site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zy565\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: ipython-sql in c:\users\zy565\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\zy565\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\zy565\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\zy565\anaconda3\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\zy565\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\zy565\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\zy565\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\zy565\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zy565\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\zy565\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\zy565\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\zy565\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\zy565\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\zy565\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\zy565\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: psycopg2-binary in c:\users\zy565\anaconda3\lib\site-packages (2.9.7)
Requirement already satisfied: snowflake-connector-python in c:\users\zy565\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (1.15.1)
Requirement already satisfied: cryptography<42.0.0,>=3.1.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (39.0.1)
Requirement already satisfied: oscrypto<2.0.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (1.3.0)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (23.0.0)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (3.18.0)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: pytz in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (2022.7)
Requirement already satisfied: requests<3.0.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (2.29.0)
Requirement already satisfied: packaging in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (2023.5.7)
Requirement already satisfied: typing-extensions<5,>=4.3 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (4.5.0)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (3.9.0)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<3.9.0,>=2.6.0 in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (3.8.1)
Requirement already satisfied: tomlkit in c:\users\zy565\anaconda3\lib\site-packages (from snowflake-connector-python) (0.11.1)
Requirement already satisfied: pycparser in c:\users\zy565\anaconda3\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Requirement already satisfied: mysql-connector-python in c:\users\zy565\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\zy565\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [86]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [87]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [88]:
%sql sqlite:///my_data1.db

In [89]:
import pandas as pd

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [90]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [104]:
%%sql
SELECT DISTINCT(Launch_Site)
FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [94]:
df["Launch_Site"].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [113]:
%%sql

SELECT * 
FROM SPACEXTBL 
WHERE Launch_Site LIKE 'CCA%' 
LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [ ]:
df[df["Launch_Site"].str.startswith("CCA")].head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [114]:
%%sql

SELECT SUM(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE Customer LIKE 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

In [ ]:
df[df["Customer"]=="NASA (CRS)"]["PAYLOAD_MASS__KG_"].sum()

45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [116]:
%%sql

SELECT AVG(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE Booster_Version LIKE 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

In [ ]:
df[df["Booster_Version"]=="F9 v1.1"]["PAYLOAD_MASS__KG_"].mean()

2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [124]:
%%sql

SELECT *
FROM SPACEXTBL
WHERE Landing_Outcome LIKE 'Success (ground pad)'
LIMIT 1;

 * sqlite:///my_data1.db
Done.

[('2015-12-22', '01:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

In [119]:
df[df["Landing_Outcome"] == "Success (ground pad)"].min()

Date                           2015-12-22
Time (UTC)                       01:00:00
Booster_Version             F9 B4 B1039.1
Launch_Site                   CCAFS LC-40
Payload                Boeing X-37B OTV-5
PAYLOAD_MASS__KG_                    2034
Orbit                                 LEO
Customer                       NASA (CRS)
Mission_Outcome                   Success
Landing_Outcome      Success (ground pad)
dtype: object

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [127]:
%%sql

SELECT Booster_Version
FROM SPACEXTBL
WHERE (PAYLOAD_MASS__KG_ > 4000 ) AND (PAYLOAD_MASS__KG_ < 6000) AND (Mission_Outcome LIKE 'Success');

 * sqlite:///my_data1.db
Done.

[('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 B4 B1040.1',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 B4  B1040.2',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

In [ ]:
df[ (df["PAYLOAD_MASS__KG_"] > 4000 )& (df["PAYLOAD_MASS__KG_"]<6000) & (df["Mission_Outcome"]=="Success" )]["Booster_Version"]

10           F9 v1.1
11     F9 v1.1 B1011
15     F9 v1.1 B1014
17     F9 v1.1 B1016
21       F9 FT B1020
23       F9 FT B1022
27       F9 FT B1026
30       F9 FT B1030
31    F9 FT  B1021.2
32     F9 FT B1032.1
40     F9 B4 B1040.1
42    F9 FT  B1031.2
47    F9 FT  B1032.2
55    F9 B4  B1040.2
59     F9 B5 B1046.2
62     F9 B5 B1047.2
67     F9 B5 B1048.3
71    F9 B5 B1051.2
87      F9 B5B1060.1
88    F9 B5 B1058.2
96      F9 B5B1062.1
Name: Booster_Version, dtype: object

### Task 7




##### List the total number of successful and failure mission outcomes

In [143]:
%%sql

SELECT Mission_Outcome , COUNT(*)
FROM SPACEXTBL
GROUP BY Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

In [ ]:
df["Mission_Outcome"].value_counts()

Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: Mission_Outcome, dtype: int64

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [160]:
%%sql

SELECT Booster_Version 
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_==(SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [ ]:
df[df["PAYLOAD_MASS__KG_"]==df["PAYLOAD_MASS__KG_"].max()]["Booster_Version"]

74     F9 B5 B1048.4
77     F9 B5 B1049.4
79     F9 B5 B1051.3
80     F9 B5 B1056.4
82     F9 B5 B1048.5
83     F9 B5 B1051.4
85     F9 B5 B1049.5
92    F9 B5 B1060.2
93    F9 B5 B1058.3
94     F9 B5 B1051.6
95     F9 B5 B1060.3
99    F9 B5 B1049.7
Name: Booster_Version, dtype: object

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [171]:
%%sql

SELECT substr(Date,4,2) AS month, Landing_Outcome, Booster_Version, Launch_Site
FROM SPACEXTBL
WHERE STRFTIME('%Y', Date) = '2015' AND Landing_Outcome LIKE '%Failure (drone ship)%';

 * sqlite:///my_data1.db
Done.

[('5-', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('5-', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [172]:
%%sql

SELECT Landing_Outcome,
       COUNT(*) AS Outcome_Count,
       RANK() OVER (ORDER BY COUNT(*) DESC) AS Rank
FROM SPACEXTBL
WHERE Date >= '2010-06-04' AND Date <= '2017-03-20'
  AND (Landing_Outcome = 'Failure (drone ship)' OR Landing_Outcome = 'Success (ground pad)')
GROUP BY Landing_Outcome
ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('Success (ground pad)', 5, 1), ('Failure (drone ship)', 5, 1)]

In [180]:
%%sql

select MIN(payload_mass__kg_) from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(0,)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>